@model NhaHangTiecCuoi.Thuc_Don

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có thật sự muốn xóa thực đơn này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số Lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Giá Thực Đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-success" /> |
            <a href="http://localhost:50458/Admin/Thuc_Don" class="btn btn-danger">Hủy</a>
        </div>
    }
</div>
