@model NhaHangTiecCuoi.Thuc_Don

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Thực Đơn</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số Lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Giá Thực Đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaTD }) |
    <a href="http://localhost:50458/Admin/Thuc_Don" class="btn btn-danger">Hủy</a>
</p>
