USE [master]
GO
/****** Object:  Database [QuanLyNhaHangTiecCuoi]    Script Date: 2019-03-23 11:52:06 PM ******/
CREATE DATABASE [QuanLyNhaHangTiecCuoi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHangTiecCuoi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyNhaHangTiecCuoi.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNhaHangTiecCuoi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyNhaHangTiecCuoi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHangTiecCuoi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHangTiecCuoi]
GO
/****** Object:  Table [dbo].[DatSanh]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatSanh](
	[MaDatSanh] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SDTKhach] [numeric](18, 0) NULL,
	[NgayDat] [datetime] NULL,
	[MaSanh] [int] NULL,
	[NgayThanhToan] [datetime] NULL,
	[MaTD] [int] NULL,
	[MaDV] [int] NULL,
	[Ca] [nvarchar](50) NULL,
 CONSTRAINT [PK_DatSanh] PRIMARY KEY CLUSTERED 
(
	[MaDatSanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](50) NULL,
	[DonGia] [money] NULL,
	[MaLoaiDV] [int] NULL,
	[Img] [nvarchar](50) NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DongThucDon]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongThucDon](
	[MaMA] [int] NOT NULL,
	[MaTD] [int] NOT NULL,
	[Soluong] [int] NULL,
 CONSTRAINT [PK_ThucDon] PRIMARY KEY CLUSTERED 
(
	[MaMA] ASC,
	[MaTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiDichVu] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiMon]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMon](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiMon] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
	[MaLoai] [int] NULL,
	[Gia] [money] NULL,
	[Img] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonAn] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sanh]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanh](
	[MaSanh] [int] IDENTITY(1,1) NOT NULL,
	[TenSanh] [nvarchar](50) NULL,
	[Gia] [money] NULL,
	[Img] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sanh] PRIMARY KEY CLUSTERED 
(
	[MaSanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thuc_Don]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuc_Don](
	[MaTD] [int] NOT NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_Thuc_Don_1] PRIMARY KEY CLUSTERED 
(
	[MaTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2019-03-23 11:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[Quyen] [nvarchar](50) NULL,
	[Sdt] [nvarchar](50) NULL,
	[Img] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DatSanh]  WITH CHECK ADD  CONSTRAINT [FK_DatSanh_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[DatSanh] CHECK CONSTRAINT [FK_DatSanh_DichVu]
GO
ALTER TABLE [dbo].[DatSanh]  WITH CHECK ADD  CONSTRAINT [FK_DatSanh_Sanh] FOREIGN KEY([MaSanh])
REFERENCES [dbo].[Sanh] ([MaSanh])
GO
ALTER TABLE [dbo].[DatSanh] CHECK CONSTRAINT [FK_DatSanh_Sanh]
GO
ALTER TABLE [dbo].[DatSanh]  WITH CHECK ADD  CONSTRAINT [FK_DatSanh_Thuc_Don1] FOREIGN KEY([MaTD])
REFERENCES [dbo].[Thuc_Don] ([MaTD])
GO
ALTER TABLE [dbo].[DatSanh] CHECK CONSTRAINT [FK_DatSanh_Thuc_Don1]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_LoaiDichVu] FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[LoaiDichVu] ([MaLoai])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_LoaiDichVu]
GO
ALTER TABLE [dbo].[DongThucDon]  WITH CHECK ADD  CONSTRAINT [FK_DongThucDon_MonAn] FOREIGN KEY([MaMA])
REFERENCES [dbo].[MonAn] ([MaMon])
GO
ALTER TABLE [dbo].[DongThucDon] CHECK CONSTRAINT [FK_DongThucDon_MonAn]
GO
ALTER TABLE [dbo].[DongThucDon]  WITH CHECK ADD  CONSTRAINT [FK_DongThucDon_Thuc_Don1] FOREIGN KEY([MaTD])
REFERENCES [dbo].[Thuc_Don] ([MaTD])
GO
ALTER TABLE [dbo].[DongThucDon] CHECK CONSTRAINT [FK_DongThucDon_Thuc_Don1]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_LoaiMon] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiMon] ([MaLoai])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_LoaiMon]
GO
USE [master]
GO
