@model NhaHangTiecCuoi.Sanh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Sảnh</h2>

<div class="col-md-10">
    <hr />
    <img src="~/Content/photo/@Html.DisplayFor(model => model.Img)" width="550" />
    <dl class="dl-horizontal">
        <dt>
            Tên Sảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanh)
        </dd>

        <dt>
            Giá Sảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink( "Chỉnh Sửa", "Edit", new { id = Model.MaSanh }) |
    <a href="http://localhost:50458/Admin/Sanhs" class="btn btn-danger">Hủy</a>
</p>
