@model NhaHangTiecCuoi.MonAn

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Món Ăn</h2>

<div>
    <hr />
    <img src="~/Content/photo/@Html.DisplayFor(model => model.Img)" width="350" />
    <dl class="dl-horizontal">
        <dt>
           Tên Món Ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMon)
        </dd>

        <dt>
            Giá Món Ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt>
            Loại Món Ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiMon.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaMon }) |
    <a href="http://localhost:50458/Admin/MonAns" class="btn btn-danger">Hủy</a>
</p>
